<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../estilos.css">

    <title>Alimentacion</title>
</head>
<body>
  <div style="margin-top: 10px;margin-left: 25px">
    <a href="./energia.html" class="waves-effect waves-light pink lighten-1 btn-large">Energia</a>
    <a href="./agua.html" class="waves-effect waves-light blue btn-large">Agua</a>
    <a href="./movilidad.html" class="waves-effect waves-light light-blue lighten-3 btn-large">Movilidad</a>
    <a href="./alimentacion.html" class="waves-effect waves-light yellow btn-large">Alimentacion</a>
    <a href="" class="waves-effect waves-light green btn-large">Residuos</a>
    <a href="" class="waves-effect waves-light purple btn-large">Consumo</a>
    <img src="https://cdn.shopify.com/s/files/1/0445/6618/4089/files/poco2h_300x300.png?v=1614080767" id="logo" style="width: 150px;height: 50px;float: right;">

    <form id="regForm" action="#">
    <h5 id="tipo">Movilidad</h5>
    <h3 id="subhead">AÉREOS</h3>
  <!-- One "tab" for each step in the form: -->
  <!--id 1-->
  <div class="tab" id="pregunta">Km recorridos
    <p><input type="number" placeholder="Escriba aqui tu respuesta" oninput="this.className = ''" name="fname" style="font-family: 'Barlow Condensed';font-size: 40px"></p>
  </div>
    <!--id 2-->
    <div class="tab" id="pregunta">Tipo de desplazamiento
        <p>
          <label>
            <input name="group1" type="radio" checked />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">SOLO IDA</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">IDA Y VUELTA</span>
          </label>
        </p> 
      </div>
    <!--id 3-->
    <div class="tab" id="pregunta">
        <br>
            <button>Total emisiones en avion</button>
    </div>
    <!--id 4-->
    <div class="tab" id="pregunta">Km recorridos
        <p><input type="number" placeholder="Escriba aqui tu respuesta" oninput="this.className = ''" name="fname" style="font-family: 'Barlow Condensed';font-size: 40px"></p>
      </div>
    <!--id 5-->
    <div class="tab" id="pregunta">Nº de pasajeros
        <p><input type="number" placeholder="Escriba aqui tu respuesta" oninput="this.className = ''" name="fname" style="font-family: 'Barlow Condensed';font-size: 40px"></p>
      </div>
    <!--id 6-->
    <div class="tab" id="pregunta">Tipo de transporte
        <p>
          <label>
            <input name="group1" type="radio" checked />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">COCHE DE GASOLINA</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">COCHE DE DIESELCOCHE DE DIESEL</span>
          </label>
        </p> 
      </div>
      <p>
        <label>
          <input name="group1" type="radio" checked />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">FURGONETA</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">AUTOBUS INTERURBANO</span>
        </label>
      </p> 
    </div>
    <p>
        <label>
          <input name="group1" type="radio" checked />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">TREN ALTA VELOCIDAD Y LARGA DISTANCIA</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">TREN CONVENCIONAL MEDIA DISTANCIA</span>
        </label>
      </p> 
    </div>
    <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">IDA Y VUELTACOCHE MEDIO (no se conoce el combustible)</span>
        </label>
      </p> 
    </div>
    <!--id 7-->
    <div class="tab" id="pregunta">Tipo de desplazamiento
        <p>
          <label>
            <input name="group1" type="radio" checked />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">SOLO IDA</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">IDA Y VUELTA</span>
          </label>
        </p> 
      </div>
      <!--id 8-->
      <div class="tab" id="pregunta">¿Qué tipo de vehículo utilizas?
        <p>
          <label>
            <input name="group1" type="radio" checked />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">COCHE PEQUEÑO</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">COCHE MEDIANO</span>
          </label>
        </p> 
      </div>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">COCHE MEDIANO</span>
        </label>
      </p> 
    </div>
      <!--id 9-->
      <div class="tab" id="pregunta">¿Qué tipo de vehículo utilizas?
        <p>
          <label>
            <input name="group1" type="radio" checked />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">DIESEL</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" />
            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">GASOLINA</span>
          </label>
        </p> 
      </div>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">HIBRIDO</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" checked />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">ELECTRICO</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">GAS</span>
        </label>
      </p> 
    </div>  
    </div>
    <!--id 7-->
    <div class="tab" id="pregunta">Tipo de desplazamiento
        <button>RESULTADO</button> 
        <BUTTon>CONSEJOS</BUTTon>   
    </div>
  <!--BOTON-->
  <div style="overflow:auto;">
    <div style="float:right;">
      <a style="font-family: 'Barlow Condensed', sans-serif;    font-size: 20px;" class="waves-effect waves-light btn-large" style="margin-top: 20px;" onclick="siguientePrev(1)">Continuar</a>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>

  </div>
</form>

</body>
</html>
<script src="../next.js"></script>