<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScripst -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../estilos.css">

    <title>Alimentacion</title>
</head>

<body>

    <div style="margin-top: 10px;margin-left: 20px">
        <img src="https://cdn.shopify.com/s/files/1/0445/6618/4089/files/poco2h_300x300.png?v=1614080767" id="logo" style="width: 150px;height: 50px;float: right;">
        <a href="./energia.html" class="waves-effect waves-light pink lighten-1 btn-large" id="estados" >Energia</a>
        <a href="./agua.html" class="waves-effect waves-light blue btn-large" id="estados" disabled>Agua</a>
        <a href="./movilidad.html" class="waves-effect waves-light red lighten-1 lighten-3 btn-large" id="estados">Movilidad</a>
        <a href="./dieta.html" class="waves-effect waves-light yellow btn-large" id="estados" >Alimentacion</a>
        <a href="./residuos.html" class="waves-effect waves-light green btn-large" id="estados" >Residuos</a>
        <a href="./consumo.html" class="waves-effect waves-light purple btn-large" id="estados" >Consumo</a>
    </div>
        <form id="regForm" name="alimentacioon" action="#">
            <h5 id="tipo" style="color: yellow;">ALIMENTACION</h5>
            <h3 id="subhead">DIETA</h3>
            <!-- One "tab" for each step in the form: -->
            <!--id 1 AÉREOS-->
            <div class="tab" id="pregunta">¿Que tipo de dieta suele seguir?
                <div class="row">
                    <div class="col s-12">
                        <p>
                            <label>
                                <input name="group01" type="radio" onclick="calcularalimenacion()"/>
                                <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">VEGETARIANA</span>
                            </label>
                        
                        <p>
                            <label>
                                <input name="group01" type="radio" onclick="calcularalimenacion()"/>
                                <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">VEGANA</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group01" type="radio" onclick="calcularalimenacion()"/>
                                <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">MEDITERRANEA</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group01" type="radio" onclick="calcularalimenacion()"/>
                                <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">MEDIA NACIONAL</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group01" type="radio" onclick="calcularalimenacion()"/>
                                <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">OTRA (frugívora,crudivegana,paleo...)</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        <!--id 2 AÉREOS-->
        <div class="tab" id="pregunta">¿Compras comida ecologica?
            <div class="row">
                <div class="col s-12">
                    <p>
                        <label>
                            <input name="group2" type="radio"  onclick="consejoComidaEcologica()"/>
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">MUCHA DE LA COMIDA QUE COMPRO ES ECOLÓGICA</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" onclick="consejoComidaEcologica()" />
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">ALGUNA DE LA COMIDA QUE COMPRO ES ECOLÓGICA
                            </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group2" type="radio" onclick="consejoComidaEcologica()"/>
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">NO ME PREOCUPO SI ES ECOLÓGICA</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <!--id 3 AÉREOS-->
        <div class="tab" id="pregunta">¿Compras comida producida localmente? (a menos de 320km de distancia)
            <div class="row">
                <div class="col s-12">
                    <p>
                        <label>
                            <input name="group3" type="radio"  onclick="calcularalimenacion()"/>
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">MUCHA DE LA COMIDA QUE COMPRO ES PRODUCIDA LOCALMENTE</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group3" type="radio" onclick="calcularalimenacion()"/>
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">ALGUNA DE LA COMIDA QUE COMPRO ES PRODUCIDA LOCALMENTE</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group3" type="radio" onclick="calcularalimenacion()"/>
                            <span style="font-size: 30px;font-family: 'Barlow Condensed', sans-serif;">NO ME PREOCUPO DE DONDE VIENE MI COMIDA</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <!--id 1 TERRESTRE-->
        <div class="tab" id="pregunta">
            <div class="row">
                <div class="col s12 m5">
                  <div class="card-panel teal">
                    <span class="white-text">
                      <p>RESULTADO ANUAL (kg/CO2)</p>
                      <p id="resultadoAlimentacion"></p>
                    </span>
                  </div>
                </div>
                <div class="col s12 m12 red animate__animated animate__heartBeat">
                  <div class="card-panel teal red">
                    <span class="white-text">
                    <p style="text-align: center;font-size: 45px;">CONSEJOS</p>
                    <p id="consejoComidaEcologica"></p>
                    <p id="consejoCompraEcologica"></p>
                    </span>
                  </div>
                </div>
              </div>
        </div>
        <!--BOTON-->
            <div style="overflow:auto;">
                <div style="float:right;">
                    <a style="font-family: 'Barlow Condensed', sans-serif;    font-size: 20px;"
                        class="waves-effect waves-light btn-large" style="margin-top: 20px;"
                        onclick="siguientePrev(1)">Continuar</a>
                </div>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>


            </div>
        </form>

</body>

</html>
<script src="../next.js"></script>